.carrossel {
  background-color: var(--cor-branco);
  width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 500px;
}

.imagem {
  width: 100%;
  height: auto;
  max-height: 600px;
  transition: opacity 2s ease-in-out;
  object-fit: cover;
}

.setaEsquerda,
.setaDireita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.setaEsquerda {
  left: 15px;
}

.setaDireita {
  right: 15px;
}

#setaEsquerda img,
#setaDireita img {
  width: 10px !important;
}

#triangulo {
  background: url(../../assets/carrossel/triangulo-rosa-carrosel.png) no-repeat;
  background-size: 100% 65px;
  height: 214px;
  position: absolute;
  width: 100%;
  bottom: -150px;
  left: 0;
  right: 0;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .carrossel {
    height: 400px;
  }
}