# 🔥 Node
node_modules/

# 🔨 Build Vite
dist/
dist-ssr/
*.local

# ⚙️ Vite cache
.vite/

# ⚓ Yarn / npm
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
npm-debug.log*

# 🧹 Logs
logs
*.log
*.log.*

# 🗂️ Editor configs/caches
.DS_Store
Thumbs.db

# 🔧 IDE
.vscode/
.idea/

# 🔐 Env files (caso não queira subir)
.env
.env.*
!.env.example